<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/style.css" />
    <title> Yin's Tic-Tac-Toe Game</title>
</head>
<body>
  <!-- <nav>
    <a href="#">Demo Video</a>
    <a href="index.html">Home</a>
    <a href="play.html">Play</a>
    <a href="stats.html">Statistics</a>
  </nav> -->

  <div class="video">
    <h1>Demo Video</h1>
    <video src="demo.mp4" controls autoplay></video>
  </div>

  <div class="footer">
        
    <p> &copy; Copyright 2022 by Yin Li.</p>
  </div>
</body>
</html>

